node_modules/
dist/
build/
coverage/
.env
.DS_Store
.vscode/
.idea/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log
*.tgz
*.tsbuildinfo
.cache/
/.parcel-cache
/.next/
out/
*.map
node_modules/